* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img, svg {
    vertical-align: middle;
}

body {
    overflow-x: hidden;
}

#nav1 {
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav1_logo img {
    padding-top: 17px;
    padding-left: 105px;
    padding-bottom: 14px;
}

#nav1_lang_switch {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selected_hypertext {
    color: rgba(136, 135, 135, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.normal_hypertext {
    color: rgba(89, 89, 89, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

/* fix burger menu */
#nav1_burger {
    float: right;   
    margin-right: 53px;
}

#nav1_lang_switch li {
    padding-left: 8px;
    padding-right: 8px;
}

#nav2 {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;

    justify-content: center;
}

#nav2_buttons {
    display: none;
    visibility: hidden; 
}

#nav2_buttons li {
    display: none;
    visibility: hidden; 
}

#nav2_buttons li:last-child {
    display: none;
    visibility: hidden; 
}

#nav2_buttons li:first-child {
    display: none;
    visibility: hidden; 
}

.nav2_button_small_text {
    display: none;
    visibility: hidden; 
}

/* FIXME */
#video_section {
    background-color: rgba(254, 135, 135, 0.40);
}

#video_section img {
    width: 100%;
    height: auto;
}

#about_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 55px;
    padding-bottom: 550px;
}

#about_section_left {
    margin-top: 73px;
    margin-bottom: 73px;
    transform-origin: center;
}

#about_section_left img {
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#about_section_right {
    margin-left: 5px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about_section_right h1 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: rgba(48, 48, 48, 1);
    line-height: 70px;
}

#about_section_right h1::after {
    content: "";
    display: block;
    height: 6px;
    width: 140px;
    background-color: rgba(191, 15, 15, 1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#about_section_right h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}

#about_section_right #top h3 {
    font-size: 28px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
    padding-top: 22px;
}

#about_section_right #bottom h3 {
    font-size: 28px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
    padding-bottom: 37px;
}

#about_section_right #bottom::after {
    content: "";
    display: block;
    height: 3px;
    width: 524px;
    background-color: rgba(196, 196, 196, 0.40);
    margin: 0 auto;
}

#about_section_right p {
    float: left;
    text-align: center;
    font-size: 14px;
    color: rgba(71, 71, 71, 1);
    margin-top: 54px;
    margin-bottom: 58px;
    line-height: 20px;
    margin-left: 75px;
    margin-right: 75px;
}

#about_section_right button {
    all: unset;
    border-radius: 4px;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    background-color: rgba(191, 15, 15, 1);
}

#about_section_right button:hover {
	background-color: rgba(255, 71, 71, 1);
}

#distribucija-section {
    position: relative;
    text-align: center;
    color: white;
}

#distribucija-section h1 {
    margin-top: 55px;
    background-image: url(./res/distribucija_section.png);
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 250px 0px;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 10000px inset;
    margin-bottom: 70px;
    font-size: 32px;
    letter-spacing: 10.4px;
}

#distribucija-section h1::after {
    content: "";
    display: block;
    height: 6px;
    width: 140px;
    background-color: rgba(191, 15, 15, 1);
    position: absolute;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%) translateY(25px);
}