* {
    padding: 0 auto;
    margin: 0 ;
}

ul {
    list-style: none;
}

img, svg {
    vertical-align: middle;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}

#nav1 {
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#nav1_logo img {
    padding-top: 17px;
    padding-left: 54px;
    padding-bottom: 14px;
}

#nav1_lang_switch {
    display: none;
}

/* fix burger menu */
#nav1_burger {
    margin-left:     16px;
    margin-right: 53px;
}

#nav1_lang_switch li {
    padding-left: 8px;
    padding-right: 8px;
}

#nav2 {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;

    justify-content: center;
}

#nav2_buttons {
    display: none;
    visibility: hidden; 
}

#nav2_buttons li {
    display: none;
    visibility: hidden; 
}

#nav2_buttons li:last-child {
    display: none;
    visibility: hidden; 
}

#nav2_buttons li:first-child {
    display: none;
    visibility: hidden; 
}

.nav2_button_small_text {
    display: none;
    visibility: hidden; 
}

#video_section img {
    max-width: 500%;
    height: auto;
}

#about_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 55px;
}

#about_section_left {
    padding-top: 73px;
    padding-bottom: 73px;
    transform-origin: center;
}

#about_section_left img {
    height: auto;

    display: block;
    width: 90%;

    margin-left: 5vw;
}

#about_section_right {
    margin-left: 5px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about_section_right h1 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: rgba(48, 48, 48, 1);
    line-height: 70px;
}

#about_section_right h1::after {
    content: "";
    display: block;
    height: 6px;
    width: 140px;
    background-color: rgba(191, 15, 15, 1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#about_section_right h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}

#about_section_right #top h3 {
    font-size: 28px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
    padding-top: 22px;
}

#about_section_right #bottom h3 {
    font-size: 28px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
    padding-bottom: 37px;
}

#about_section_right #bottom::after {
    content: "";
    display: block;
    height: 3px;
    width: 262px;
    background-color: rgba(196, 196, 196, 0.40);
    margin: 0 auto;
}

#about_section_right p {
    float: left;
    text-align: center;
    font-size: 14px;
    color: rgba(71, 71, 71, 1);
    margin-top: 54px;
    margin-bottom: 58px;
    line-height: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

#about_section_right button {
    text-align: center;
    all: unset;
	border-radius: 4px;
	margin: 0 auto;
	cursor: pointer;
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	padding: 12px 16px;
	text-decoration: none;
    background-color: rgba(191, 15, 15, 1);
}

#about_section_right button:hover {
	background-color: rgba(255, 71, 71, 1);
}

#distribucija-section img {
    height: 100%;

    filter: brightness(50%)
}

#distribucija-section h1 {
    margin-top: 55px;
    background-image: url(./res/distribucija_section.png);
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 250px 0px;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 10000px inset;
    margin-bottom: 70px;
    font-size: 32px;
    letter-spacing: 10.4px;
}

#distribucija-section h1::after {
    content: "";
    display: block;
    height: 6px;
    width: 140px;
    background-color: rgba(191, 15, 15, 1);
    position: absolute;
    left: 50%;
    bottom: 11.5%;
    transform: translateX(-50%);
}