/* default */
* {
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

/* custom */
header .top_base {
    padding: 15px;
    background-color: #D9D9D9;
    border-bottom: rgba(136, 135, 135, 0.40);;
}

header .top_logo {
    margin: 17px 105px;

    display: inline;
}

header .top_lang_switch {
    margin-right: 105px;
    margin-top: 17px;

    text-align: center;
    display: flex;
    float: right;
}

header .selected_hyperlink {
    color: #888787;
    font-family: Roboto, sans-serif;
    margin-right: 16px;
    text-decoration: none;
}

header .normal_hyperlink {
    color: #595959;
    font-family: Roboto, sans-serif;
    margin-right: 16px;
}