/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

header .selected_hyperlink {
    color: rgba(136, 135, 135, 1);
    font-family: Roboto, sans-serif;

    text-decoration: none;
    text-align: center;

    padding-left: 16px;
    padding-right: 16px;
}

header .normal_hyperlink {
    color: rgba(89, 89, 89, 1);
    font-family: Roboto, sans-serif;
    
    text-align: center;
    
    padding-left: 16px;
    padding-right: 16px;
}

header #nav1 {
    background-color: rgba(217, 217, 217, 1);

    border-bottom: 1px solid rgba(136, 135, 135, 0.40);

    padding: 16px;
}

header #nav2 {    
    background-color: rgba(255, 255, 255, 1);

    padding-top: 11px;
}

body #video-section-img {
    width: 100%;
    height: auto;
}

header #nav1_logo {
    /* phones */
    @media only screen and (max-width: 480px) {

    }

    /* ipads, tablets*/
    @media only screen and (max-width: 768px) {

    }

    /* small laptop screens */
    @media only screen and (max-width: 1024px) {

    }

    /* big desktop screens */
    @media only screen and (min-width: 1025px) {
        padding-left: 105px;
        display: inline;
    }
}

header #nav1_lang_switch {
    display: flex;

    /* phones */
    @media only screen and (max-width: 480px) {

    }

    /* ipads, tablets*/
    @media only screen and (max-width: 768px) {

    }

    /* small laptop screens */
    @media only screen and (max-width: 1024px) {
        justify-content: center;
    }

    /* big desktop screens */
    @media only screen and (min-width: 1025px) {
        flex-direction: row;
    }
}

header #nav1_lang_switch a {
    display: flex;

    /* phones */
    @media only screen and (max-width: 480px) {

    }

    /* ipads, tablets*/
    @media only screen and (max-width: 768px) {

    }

    /* small laptop screens */
    @media only screen and (max-width: 1024px) {

    }

    /* big desktop screens */
    @media only screen and (min-width: 1025px) {
        text-align: center;
        vertical-align: middle;
        float: right;
    }
}