.selected-hyperlink {
    color: rgba(136, 135, 135, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.normal-hyperlink {
    color: rgba(89, 89, 89, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

/*
██████  ██   ██  ██████  ███    ██ ███████ 
██   ██ ██   ██ ██    ██ ████   ██ ██      
██████  ███████ ██    ██ ██ ██  ██ █████   
██      ██   ██ ██    ██ ██  ██ ██ ██      
██      ██   ██  ██████  ██   ████ ███████ 
*/
@media only screen and (max-width: 767px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    ul {
        list-style: none;
    }
    
    img, svg {
        vertical-align: middle;
    }
    
    html, body {
        overflow-x: hidden;
    }
    
    body {
        position: relative;
    }

    /* ********************************** */
    
    #nav1 {
        background-color: rgba(217, 217, 217, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #nav1 img {
        padding-top: 17px;
        padding-bottom: 14px;
    }
    
    #nav1 ul {
        display: none;
    }
    
    #nav1 #burger {
        margin-left: 8px;
    }
    
    #nav1 ul li {
        padding-left: 8px;
        padding-right: 8px;
    }

    /* ********************************** */
    
    #nav2 {
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
    
        justify-content: center;
    }
    
    #nav2 ul {
        display: none;
        visibility: hidden; 
    }
    
    #nav2 ul li {
        display: none;
        visibility: hidden; 
    }
    
    #nav2 ul li:last-child {
        display: none;
        visibility: hidden; 
    }
    
    #nav2 ul li:first-child {
        display: none;
        visibility: hidden; 
    }

    /* ********************************** */
    
    #slide-section img {
        width: 100%;
        height: auto;
    }

    /* ********************************** */
    
    #about-section #left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 55px;
    }
    
    #about-section #left {
        padding-top: 73px;
        padding-bottom: 73px;
        transform-origin: center;
    }
    
    #about-section #left img {
        height: auto;
    
        display: block;
        width: 95%;
        margin-left: 2.25vw;
    }
    
    #about-section #right {
        margin-left: 5px;
        margin-right: 5px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #about-section #right h1 {
        font-family: Roboto, sens-serif;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        color: rgba(48, 48, 48, 1);
        line-height: 70px;
    }
    
    #about-section #right h1::after {
        content: "";
        display: block;
        height: 6px;
        width: 140px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #about-section #right h3 {
        font-family: Inter, sens-serif;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }
    
    #about-section #right #top h3 {
        font-size: 28px;
        font-weight: bold;
        color: rgba(71, 71, 71, 1);
        padding-top: 22px;
    }
    
    #about-section #right #bottom h3 {
        font-size: 28px;
        font-weight: bold;
        color: rgba(71, 71, 71, 1);
        padding-bottom: 37px;
    }
    
    #about-section #right #bottom::after {
        content: "";
        display: block;
        height: 3px;
        width: 262px;
        background-color: rgba(196, 196, 196, 0.40);
        margin: 0 auto;
    }
    
    #about-section #right p {
        text-align: center;
        color: rgba(71, 71, 71, 1);
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    
        margin-top: 54px;
        margin-bottom: 58px;
        margin-left: 25px;
        margin-right: 25px;

        display: inline;

        white-space: wrap; 
    }

    #about-section #right p br {
        display: none;
    }
    
    #about-section #right button {
        text-align: center;
        all: unset;
        font-family: Roboto, sans-serif;
        border-radius: 4px;
        margin: 0 auto;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        padding: 12px 16px;
        text-decoration: none;
        background-color: rgba(191, 15, 15, 1);
    }

    /* ********************************** */
    
    #distribucija-section h1 {
        margin-top: 55px;
        background-image: url(./res/distribucija_section.png);
        background-attachment: fixed;
        text-align: center;
        font-family: Roboto;
        color: white;
        padding: 250px 0px;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 10000px inset;
        margin-bottom: 70px;
        font-size: 32px;
        letter-spacing: 5.22px
    }
    
    #distribucija-section h1::after {
        content: "";
        display: block;
        height: 6px;
        width: 140px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        bottom: 11.5%;
        transform: translateX(-50%) translateY(25px);
    }

    /* ********************************** */
    
    #info-section {
        margin-top: 74px;
        margin-bottom: 161px;
    }
    
    #info-section ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    
    #info-section ul li img {
        width: 95%;
        height: auto;
        padding-left: 2.25vw;
    }

    #info-section ul li h1 {
        color: rgba(71, 71, 71, 1);
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        padding-top: px;
        line-height: 44px;
        padding-bottom: 26px;
        text-transform: uppercase;
    }
    
    #info-section ul li h1::after {
        content: "";
        display: block;
        height: 2px;
        width: 75px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
    }
    
    #info-section #title h1 {
        margin-top: 161px;
        text-align: center;
        font-family: Roboto, sens-serif;
        font-size: 42px;
        font-weight: bold;
        color: rgba(48, 48, 48, 1);
        line-height: 70px;
    }
    
    #info-section h3 {
        font-family: Inter, sens-serif;
        font-size: 28px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }
    
    #info-section h3::after {
        content: "";
        display: block;
        height: 6px;
        width: 140px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        bottom: auto;
        transform: translateX(-50%) translateY(25px);
    }

    /* ********************************** */

    #stats-section ul {
        display: flex;
        flex-direction: column;

        justify-content: center;
        text-align: center;
    
        background-image: url(./res/stats.png);
        padding: 100px 0px;
    }
    
    #stats-section ul li {
        position: relative;

        padding-left: 55.5px;
        padding-bottom: 50px;
        padding-right: 55.5px;
    }

    #stats-section ul li:not(:last-child):after {
        content: "";
        display: block;
        height: 1px;
        width: 136px;
        background-color: rgba(255, 255, 255, 0.85);
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(25px);
        top: 50%;
    }
    
    #stats-section ul li h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Inter, sans-serif;
        font-size: 46px;
    
        font-weight: 900;
    }
    
    #stats-section ul li h1 span {
        font-family: Inter, sans-serif;
        font-size: 18px;
    
        font-weight: 900;
    }
    
    #stats-section ul li h3 {
        color: rgba(255, 255, 255, 1);
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;

        font-weight: 400;
    }

    /* ********************************** */
    
    #products-section {
        padding-top: 47px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 64px;

        background-color: rgba(244, 244, 244, 1);
    }
    
    #products-section #title {
        font-family: Inter, sens-serif;
        font-size: 28px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }
        
    #products-section #title::after {
        content: "";
        display: block;
        height: 3px;
        position: relative;
        width: 262px;
        left: 50%;
        background-color: rgba(196, 196, 196, 0.40);
        transform: translateX(-50%) translateY(48px);
    }
    
    #products-section p {
        color: rgba(71, 71, 71, 1);
        
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    
        padding-top: 92px;
        padding-bottom: 60px;
    
        white-space: wrap; 
        text-align: center;
    }

    #products-section p br {
        display: none;
    }
    
    #products-section ul {
        display: flex;
    
        justify-content: center;
        align-items: center;

        flex-flow: row wrap;
        align-items: stretch;
        gap: 10px 10px;
    }
    
    #products-section ul li {
        padding-top: 15px;
        padding-bottom: 32px;

        background-color: white;
    }
    
    #products-section ul li h3 {
        font-family: Inter, sens-serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
        text-transform: uppercase;
    }
    
    #products-section ul li h3::after {
        content: "";
        display: block;
        height: 2px;
        width: 75px;
        left: 50%;
        
        transform: translateY(11px) translateX(105%);
        background-color: rgba(191, 15, 15, 1);
    }

    /* ********************************** */

    #white {
        width: 15%;
        margin: 0 auto;
        padding: 0 auto;

        transform: translateX(5px) translateY(-45px);
    }

    /* ********************************** */

    #brands-section {
        margin-top: 53px;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 75px;
    }

    #brands-section h3 {
        font-family: Inter, sens-serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }

    #brands-section h3::after {
        content: "";
        display: block;
        height: 3px;
        position: relative;
        width: 262px;
        left: 50%;
        background-color: rgba(196, 196, 196, 0.40);
        transform: translateX(-50%) translateY(60px);
    }

    #brands-section ul {
        margin-top: 84px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        gap: 5px 5px;
    }

    #brands-section ul li {
        padding-right: 0px;
    }

    #brands-section ul li:last-child {
        padding-right: 0px;
    }

    #brands-section ul li img {
        width: 115px;
        height: 115px;
    }

    #brands-section ul li h4 {
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;
        color: rgba(71, 71, 71, 1);
        text-align: center;
        font-weight: 400;
    }

    #brands-section #container {
        display: flex;
        justify-content: center;
    }

    #brands-section button {
        text-align: center;
        all: unset;
        font-family: Roboto, sans-serif;
        border-radius: 4px;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        padding: 12px 16px;
        text-decoration: none;
        margin-top: 75px;
        background-color: rgba(191, 15, 15, 1);
    }

    /* ********************************** */

    #footer {
        background-image: url(./res/footer.png);
        padding-top: 0px;
    }

    /* ********************************** */
    
    #big-footer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 25px;

        padding-top: 67px;  
        padding-bottom: 33px;
    }

    #big-footer #first {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
    }
    
    #big-footer #first::after {
        content: "";
        display: block;
        height: 1px;
        width: 272px;
        background-color: rgba(255, 255, 255, 0.26);
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(20px);
        top: 50%;
    }

    #big-footer #first img {
        width: auto;
        height: auto;
    }

    #big-footer #second::after {
        content: "";
        display: block;
        height: 1px;
        width: 136px;
        background-color: rgba(255, 255, 255, 0.26);
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(0px);
        top: 50%;
    }

    #big-footer #second ul {
        display: flex;
        flex-flow: column wrap;
        gap: 0px 1px;
        padding-bottom: 25px;
    }

    #big-footer #second ul h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Inter, sans-serif;
        font-size: 28px;
        font-weight: bolder;
    }

    #big-footer #second ul li a {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;

        border-bottom: 1px solid;
    }

    #big-footer #third::after {
        content: "";
        display: block;
        height: 1px;
        width: 136px;
        background-color: rgba(255, 255, 255, 0.26);
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(9px);
        top: 50%;
    }

    #big-footer #third ul {
        display: flex;
        flex-flow: column wrap;
    }

    #big-footer #third ul li a {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto Condensed, sans-serif;
        font-size: 16px;
        font-style: normal;
        text-decoration: none;
        line-height: 26px;
    }   

    #big-footer #fourth ul {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }

    #big-footer #fourth a {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    /* ********************************** */

    #small-footer {
        background: rgba(0, 0, 0, 0.33);
        background-blend-mode: multiply;

        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 32px;
        padding-right: 25px
    }

    #small-footer ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        gap: 5px 2000px;
    }

    #small-footer ul li a {
        color: rgba(255, 255, 255, 0.30);
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    #small-footer ul li a span {
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    #small-footer #sp {
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
}

/*
████████  █████  ██████  ██      ███████ ████████ 
   ██    ██   ██ ██   ██ ██      ██         ██    
   ██    ███████ ██████  ██      █████      ██    
   ██    ██   ██ ██   ██ ██      ██         ██    
   ██    ██   ██ ██████  ███████ ███████    ██    
*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    ul {
        list-style: none;
    }
    
    img, svg {
        vertical-align: middle;
    }
    
    body {
        overflow-x: hidden;
    }

    /* ********************************** */
    
    #nav1 {
        background-color: rgba(217, 217, 217, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #nav1 #logo {
        padding-top: 17px;
        padding-left: 105px;
        padding-bottom: 14px;
    }
    
    #nav1 ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #nav1 ul li {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    #nav1 #burger {
        float: right;   
        margin-right: 53px;
    }

    /* ********************************** */
    
    #nav2 {
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
    
        justify-content: center;
    }
    
    #nav2 ul {
        display: none;
        visibility: hidden; 
    }
    
    #nav2 ul li {
        display: none;
        visibility: hidden; 
    }
    
    #nav2 ul li:last-child {
        display: none;
        visibility: hidden; 
    }
    
    #nav2 ul li:first-child {
        display: none;
        visibility: hidden; 
    }

    /* ********************************** */
    
    #slide-section img {
        width: 100%;
        height: auto;
    }

    /* ********************************** */
    
    #about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 55px;
    }
    
    #about-section #left {
        margin-top: 73px;
        margin-bottom: 73px;
        transform-origin: center;
    }
    
    #about-section #left img {
        height: auto;
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    
    #about-section #right {
        margin-left: 5px;
        margin-right: 5px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #about-section #right h1 {
        font-family: Roboto, sens-serif;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        color: rgba(48, 48, 48, 1);
        line-height: 70px;
    }
    
    #about-section #right h1::after {
        content: "";
        display: block;
        height: 6px;
        width: 140px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #about-section #right h3 {
        font-family: Inter, sens-serif;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }
    
    #about-section #right #top h3 {
        font-size: 28px;
        font-weight: bold;
        color: rgba(71, 71, 71, 1);
        padding-top: 22px;
    }
    
    #about-section #right #bottom h3 {
        font-size: 28px;
        font-weight: bold;
        color: rgba(71, 71, 71, 1);
        padding-bottom: 37px;
    }
    
    #about-section #right #bottom::after {
        content: "";
        display: block;
        height: 3px;
        width: 524px;
        background-color: rgba(196, 196, 196, 0.40);
        margin: 0 auto;
    }
    
    #about-section #right p {
        text-align: center;
        color: rgba(71, 71, 71, 1);
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    
        margin-top: 54px;
        margin-bottom: 58px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    #about-section #right button {
        text-align: center;
        all: unset;
        font-family: Roboto, sans-serif;
        border-radius: 4px;
        margin: 0 auto;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        padding: 12px 16px;
        text-decoration: none;
        background-color: rgba(191, 15, 15, 1);
    }

    /* ********************************** */
    
    #distribucija-section {
        position: relative;
        text-align: center;
        color: white;
    }
    
    #distribucija-section h1 {
        margin-top: 55px;
        background-image: url(./res/distribucija_section.png);
        background-attachment: fixed;
        text-align: center;
        font-family: Roboto;
        color: white;
        padding: 250px 0px;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 10000px inset;
        margin-bottom: 74px;
        font-size: 32px;
        letter-spacing: 10.4px;
    }
    
    #distribucija-section h1::after {
        content: "";
        display: block;
        height: 6px;
        width: 140px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        bottom: auto;
        transform: translateX(-50%) translateY(25px);
    }

    /* ********************************** */
    
    #info-section {
        margin-top: 74px;
        margin-bottom: 161px;
    }

    #info-section ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        gap: 10px;
    }
    
    #info-section ul li h1 {
        color: rgba(71, 71, 71, 1);
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        padding-top: 26px;
        padding-bottom: 26px;
        line-height: 44px;
        text-transform: uppercase;
    }
    
    #info-section ul li h1::after {
        content: "";
        display: block;
        height: 2px;
        width: 75px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
    }
    
    #info-section #title h1 {
        margin-top: 61px;
        text-align: center;
        font-family: Roboto, sens-serif;
        font-size: 42px;
        font-weight: bold;
        color: rgba(48, 48, 48, 1);
    }
    
    #info-section h3 {
        font-family: Inter, sens-serif;
        font-size: 28px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }
    
    #info-section h3::after {
        content: "";
        display: block;
        height: 6px;
        width: 140px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        bottom: auto;
        transform: translateX(-50%) translateY(25px);
    }

    /* ********************************** */
    
    #stats-section ul {
        display: flex;
    
        justify-content: center;
        text-align: center;
    
        background-image: url(./res/stats.png);
        padding: 100px 0px;
    }
    
    #stats-section ul li {
        border-right: 1px solid rgba(255, 255, 255, 0.40);
        position: relative;

        padding-left: 55.5px;
        padding-right: 55.5px;
    }
    
    #stats-section ul li:first-child {
        border-left: 0px;
    }
    
    #stats-section ul li:last-child {
        border-right: 0px;
    }
    
    #stats-section ul li h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Inter, sans-serif;
        font-size: 46px;
    
        font-weight: 900;
    }
    
    #stats-section ul li h1 span {
        font-family: Inter, sans-serif;
        font-size: 18px;
    
        font-weight: 900;
    }
    
    #stats-section ul li h3 {
        color: rgba(255, 255, 255, 1);
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;

        font-weight: 400;
    }

    /* ********************************** */
    
    #products-section {
        padding-top: 92px;
        padding-left: 54px;
        padding-right: 54px;
        padding-bottom: 32px;

        background-color: rgba(244, 244, 244, 1);
    }
    
    #products-section #title {
        font-family: Inter, sens-serif;
        font-size: 28px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }
        
    #products-section #title::after {
        content: "";
        display: block;
        height: 3px;
        position: relative;
        width: 524px;
        left: 50%;
        background-color: rgba(196, 196, 196, 0.40);
        transform: translateX(-50%) translateY(60px);
    }
    
    #products-section p {
        color: rgba(71, 71, 71, 1);
        
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    
        padding-top: 120px;
        padding-bottom: 60px;
    
        white-space: nowrap; 
        text-align: center;
    }
    
    #products-section ul {
        display: flex;
    
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-items: stretch;
        flex-flow: row wrap;
    }
    
    #products-section ul li {
        padding-top: 15px;
        padding-bottom: 32px;

        background-color: white;
    }
    
    #products-section ul li h3 {
        font-family: Inter, sens-serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
        text-transform: uppercase;
    }
    
    #products-section ul li h3::after {
        content: "";
        display: block;
        height: 2px;
        width: 75px;
        left: 50%;
        transform: translateY(11px) translateX(105%);
        background-color: rgba(191, 15, 15, 1);
    }

    /* ********************************** */

    #white {
        margin: 0 auto;
        padding: 0 auto;

        transform: translateX(5px) translateY(-92px);
    }

    /* ********************************** */

    #brands-section {
        margin-top: -53px;
        margin-left: 190px;
        margin-right: 190px;
        margin-bottom: 75px;
    }

    #brands-section h3 {
        font-family: Inter, sens-serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }

    #brands-section h3::after {
        content: "";
        display: block;
        height: 3px;
        position: relative;
        width: 524px;
        left: 50%;
        background-color: rgba(196, 196, 196, 0.40);
        transform: translateX(-50%) translateY(60px);
    }

    #brands-section ul {
        margin-top: 84px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        gap: 5px 50px;
    }

    #brands-section ul li {
        padding-right: 0px;
    }

    #brands-section ul li:last-child {
        padding-right: 0px;
    }

    #brands-section ul li img {
        width: 115px;
        height: 115px;
    }

    #brands-section ul li h4 {
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;
        color: rgba(71, 71, 71, 1);
        text-align: center;
        font-weight: 400;
    }


    #brands-section #container {
        display: flex;
        justify-content: center;
    }

    #brands-section button {
        text-align: center;
        all: unset;
        font-family: Roboto, sans-serif;
        border-radius: 4px;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        padding: 12px 16px;
        text-decoration: none;
        margin-top: 75px;
        background-color: rgba(191, 15, 15, 1);
    }

    /* ********************************** */

    #footer {
        background-image: url(./res/footer.png);
        padding-top: 0px;
    }

    /* ********************************** */
    
    #big-footer {
        display: flex;
        flex-flow: row;
        justify-content: center;

        gap: 0px;

        padding-top: 67px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 33px;
    }

    #big-footer #first img {
        width: 75%;
        height: auto;
    }

    #big-footer #second {
        border-left: 1px solid rgba(255, 255, 255, 0.26);
        padding-left: 48px;
        padding-right: 48px;
    }

    #big-footer #second ul {
        display: flex;
        flex-flow: column wrap;

        gap: 24px 5px;
    }

    #big-footer #second ul h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Inter, sans-serif;
        font-size: 28px;
        font-weight: bolder;
    }

    #big-footer #second ul li a {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

    #big-footer #third {
        border-left: 1px solid rgba(255, 255, 255, 0.26);
        padding-left: 19px;
        padding-right: 100px;
    }

    #big-footer #third ul {
        display: flex;
        flex-flow: column wrap;
    }

    #big-footer #third ul li a {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto Condensed, sans-serif;
        font-size: 16px;
        font-style: normal;
        text-decoration: none;
        line-height: 26px;
    }

    #big-footer #fourth {
        border-left: 1px solid rgba(255, 255, 255, 0.26);
        padding-left: 22px;
    }

    #big-footer #fourth ul {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }

    #big-footer #fourth a {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    /* ********************************** */
    
    #small-footer {
        background: rgba(0, 0, 0, 0.33);
        background-blend-mode: multiply;

        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 32px;
        padding-right: 25px
    }

    #small-footer ul {
        display: flex;
        flex-flow: row;
        justify-content: center;

        gap: 5px 25px;
    }

    #small-footer ul li a {
        color: rgba(255, 255, 255, 0.30);
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    #small-footer ul li a span {
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    #small-footer #sp {
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/*
██████   ██████ 
██   ██ ██      
██████  ██      
██      ██      
██       ██████                 
*/
@media only screen and (min-width: 1025px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    ul {
        list-style: none;
    }
    
    img, svg {
        vertical-align: middle;
    }

    body {
        overflow-x: hidden;
    }

    /* ********************************** */

    #nav1 {
        background-color: rgba(217, 217, 217, 1);
        border-bottom: 1px solid rgba(136, 135, 135, 0.40);;
        display: flex;
        align-items: center;
    }
    
    #nav1 #logo {
        padding-top: 17px;
        padding-left: 105px;
        padding-bottom: 14px;
    }
    
    #nav1 ul {
        display: inline-flex;
        margin-left: calc(100vw - 600px);
    }
    
    #nav1 ul li {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    #nav1 #burger {
        display: none;
    }

    /* ********************************** */
    
    #nav2 {
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
    
        justify-content: space-around;
    }
    
    #nav2 ul {
        display: inline-flex;
        text-align: center;
    }
    
    #nav2 ul li {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 42px;
        padding-right: 42px;
    
        border-left: 1px solid rgba(136, 135, 135, 0.40);
        border-right: 1px solid rgba(136, 135, 135, 0.40);
    }
    
    #nav2 ul li:last-child {
        border-left: 1px solid rgba(136, 135, 135, 0.40);
        border-right: 2px solid rgba(136, 135, 135, 0.40);
    }
    
    #nav2 ul li:first-child {
        border-left: 2px solid rgba(136, 135, 135, 0.40);
        border-right: 1px solid rgba(136, 135, 135, 0.40);
    }
    
    #nav2 ul li a {
        text-decoration: none;
        font-size: 16px;
        font-family: Roboto Condensed, sans-serif;
        color:rgba(0, 0, 0, 1);
    }
    
    #nav2 ul li a span {
        color: rgba(71, 71, 71, 1);
        font-family: Roboto, sans-serif;
        font-size: 12px
    }

    /* ********************************** */

    #slide-section img {
        width: 100%;
        height: auto;
    }

    #slide-section button {
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
    
    /* ********************************** */
    
    #about-section {
        display: flex;
        justify-content: center;

        background-color: rgba(244, 244, 244, 1);
    }
    
    #about-section #left {
        margin-top: 73px;
        margin-bottom: 73px;

        float: left;
    }
    
    #about-section #right {
        margin-top: 73px;
        margin-bottom: 73px;

        padding-top: 48px;
        padding-left: 64px;
    }
    
    #about-section #right h1 {
        font-family: Roboto, sens-serif;
        font-size: 42px;
        font-weight: bold;
        color: rgba(48, 48, 48, 1);
        line-height: 70px;
    }
    
    #about-section #right h1::after {
        content: "";
        display: block;
        height: 6px;
        width: 140px;
        background-color: rgba(191, 15, 15, 1);
    }
    
    #about-section #right h3 {
        font-family: Inter, sans-serif;
        font-size: 28px;
        font-style: light;
        font-weight: 400;
        line-height: 34px;
        color: rgba(71, 71, 71, 1);
    }
    
    #about-section #right #top h3 {
        font-size: 28px;
        font-weight: bold;
        color: rgba(71, 71, 71, 1);
        padding-top: 22px;
    }
    
    #about-section #right #bottom h3 {
        font-size: 28px;
        font-weight: bold;
        color: rgba(71, 71, 71, 1);
        padding-bottom: 37px;
    }
    
    #about-section #right #bottom::after {
        content: "";
        display: block;
        height: 3px;
        width: 524px;
        background-color: rgba(196, 196, 196, 0.40);
    }
    
    #about-section #right p {
        color: rgba(71, 71, 71, 1);
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    
        margin-top: 54px;
        margin-bottom: 41px;
        margin-right: 250px;

        white-space: nowrap; 
        text-align: left;
    }
    
    #about-section #right button {
        text-align: center;
        all: unset;
        font-family: Roboto, sans-serif;
        border-radius: 4px;
        margin: 0 auto;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        padding: 12px 16px;
        text-decoration: none;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
    }
    
    /* ********************************** */

    #distribucija-section h1 {
        padding-top: 55px;
        background-image: url(./res/distribucija_section.png);
        background-attachment: fixed;
        text-align: center;
        font-family: Roboto;
        color: white;
        padding: 250px 0px;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 10000px inset;
        font-size: 32px;
        letter-spacing: 10.4px;
    }
    
    #distribucija-section h1::after {
        content: "";
        display: block;
        height: 6px;
        width: 137px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(25px);
    }

    /* ********************************** */
    
    #info-section {
        margin-top: 74px;
        margin-bottom: 161px;
    }
    
    #info-section ul {
        display: flex;
    
        justify-content: center;
        text-align: left;
    }
    
    #info-section ul li img {
        padding-right: 7.5px;
    }
    
    #info-section ul li h1 {
        color: rgba(71, 71, 71, 1);
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-weight: 100;
        padding-top: 26px;
        text-transform: uppercase;
    }
    
    #info-section ul li h1::after {
        content: "";
        display: block;
        height: 2px;
        width: 50px;
        transform: translateY(11px);
        background-color: rgba(191, 15, 15, 1);
    }
    
    #info-section #title h1 {
        margin-top: 161px;
        text-align: center;
        font-family: Roboto, sens-serif;
        font-size: 42px;
        font-weight: bold;
        color: rgba(48, 48, 48, 1);
    }
    
    #info-section h3 {
        font-family: Inter, sens-serif;
        font-size: 28px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }
    
    #info-section h3::after {
        content: "";
        display: block;
        height: 6px;
        width: 140px;
        background-color: rgba(191, 15, 15, 1);
        position: relative;
        left: 50%;
        bottom: auto;
        transform: translateX(-50%) translateY(25px);
    }

    /* ********************************** */
    
    #stats-section ul {
        display: flex;
    
        justify-content: center;
        gap: 250px;
        text-align: center;
    
        background-image: url(./res/stats.png);
        padding: 100px 0px;
    }
    
    #stats-section ul li {
        position: relative;
    }
    
    #stats-section ul li:first-child {
        border-left: 0px;
    }
    
    #stats-section ul li:last-child {
        border-right: 0px;
    }
    
    #stats-section ul li h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Inter, sans-serif;
        font-size: 46px;
    
        font-weight: 900;
    }
    
    #stats-section ul li h1 span {
        font-family: Inter, sans-serif;
        font-size: 18px;
    
        font-weight: 900;
    }
    
    #stats-section ul li h3 {
        color: rgba(255, 255, 255, 1);
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;

        font-weight: 400;
    }

    /* ********************************** */

    #products-section {
        padding-top: 92px;
        padding-left: 107px;
        padding-right: 107px;
        padding-bottom: 90px;

        background-color: rgba(244, 244, 244, 1);
    }

    #products-section #title {
        font-family: Inter, sens-serif;
        font-size: 28px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }
    
    #products-section #title::after {
        content: "";
        display: block;
        height: 3px;
        position: relative;
        width: 524px;
        left: 50%;
        background-color: rgba(196, 196, 196, 0.40);
        transform: translateX(-50%) translateY(60px);
    }

    #products-section p {
        color: rgba(71, 71, 71, 1);
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;

        padding-top: 120px;
        padding-bottom: 60px;

        white-space: nowrap; 
        text-align: center;
    }

    #products-section ul {
        display: flex;

        justify-content: center;
        gap: 16px;
        flex-direction: row;
    }

    #products-section ul li {
        background-color: white;
    }

    #products-section ul li img {
        padding-bottom: 32px;
    }

    #products-section ul li h3 {
        font-family: Inter, sens-serif;
        font-size: 24px;
        font-weight: 100;
        text-align: left;
        color: rgba(71, 71, 71, 1);
        text-transform: uppercase;

        padding-right: 30px;
        padding-left: 28px;
        padding-bottom: 32px;
    }

    #products-section ul li h3::after {
        content: "";
        display: block;
        height: 2px;
        width: 50px;
        transform: translateY(11px);
        background-color: rgba(191, 15, 15, 1);
    }

    /* ********************************** */

    #white {
        margin: 0 auto;
        padding: 0 auto;

        transform: translateX(5px) translateY(-92px);
    }

    /* ********************************** */

    #brands-section {
        margin-top: -53px;
        margin-left: 190px;
        margin-right: 190px;
        margin-bottom: 75px;
    }

    #brands-section h3 {
        font-family: Inter, sens-serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        color: rgba(71, 71, 71, 1);
    }

    #brands-section h3::after {
        content: "";
        display: block;
        height: 3px;
        position: relative;
        width: 524px;
        left: 50%;
        background-color: rgba(196, 196, 196, 0.40);
        transform: translateX(-50%) translateY(60px);
    }

    #brands-section ul {
        margin-top: 84px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    #brands-section ul li {
        padding-right: 74px;
    }

    #brands-section ul li:last-child {
        padding-right: 0px;
    }

    #brands-section ul li img {
        width: 115px;
        height: 115px;
    }

    #brands-section ul li h4 {
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;
        color: rgba(71, 71, 71, 1);
        text-align: center;
        font-weight: 400;
    }

    #brands-section #container {
        display: flex;
        justify-content: center;
    }

    #brands-section button {
        text-align: center;
        all: unset;
        font-family: Roboto, sans-serif;
        border-radius: 4px;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        padding: 12px 16px;
        text-decoration: none;
        margin-top: 75px;
        background-color: rgba(191, 15, 15, 1);
    }

    /* ********************************** */

    #footer {
        background-image: url(./res/footer.png);
        padding-top: 0px;
    }

    /* ********************************** */
    
    #big-footer {
        display: flex;
        flex-flow: row;
        justify-content: center;

        gap: 50px;

        padding-top: 67px;
        padding-left: 214px;
        padding-right: 214px;
        padding-bottom: 33px;
    }

    #big-footer #first img {
        width: auto;
        height: auto;
    }

    #big-footer #second {
        border-left: 1px solid rgba(255, 255, 255, 0.26);
        padding-left: 47px;
        padding-right: 100px;
    }

    #big-footer #second ul {
        display: flex;
        flex-flow: column wrap;

        gap: 24px 5px;
    }

    #big-footer #second ul h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Inter, sans-serif;
        font-size: 28px;
        font-weight: bolder;
    }

    #big-footer #second ul li a {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

    #big-footer #third {
        border-left: 1px solid rgba(255, 255, 255, 0.26);
        padding-left: 19px;
        padding-right: 100px;
    }

    #big-footer #third ul {
        display: flex;
        flex-flow: column wrap;
    }

    #big-footer #third ul li a {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto Condensed, sans-serif;
        font-size: 16px;
        font-style: normal;
        text-decoration: none;
        line-height: 26px;
    }

    #big-footer #fourth {
        border-left: 1px solid rgba(255, 255, 255, 0.26);
        padding-left: 22px;
    }

    #big-footer #fourth ul {
        display: flex;
        flex-flow: row;
        gap: 10px;
    }

    #big-footer #fourth a {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    /* ********************************** */

    #small-footer {
        background: rgba(0, 0, 0, 0.33);
        background-blend-mode: multiply;

        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 32px;
        padding-right: 25px
    }

    #small-footer ul {
        display: flex;
        flex-flow: row;
        justify-content: center;

        gap: 5px 60px;
    }

    #small-footer ul li a {
        color: rgba(255, 255, 255, 0.30);
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    #small-footer ul li a span {
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    #small-footer #sp {
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
}